@import url('/stili/root.css');
@import url('/stili/faq.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Netflix Sans', sans-serif;
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}

h2 {
  font-size: var(--font-title-mobile);
  text-align: center;
  font-family: 'Netflix Sans Bold';
}

h3 {
  font-size: var(--font-title-mobile-h3);
  color:var(--clr-white);

}

.card-email {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;

}

.card-email .card-email-form {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  
  

}

.card-email .card-email-form .card-email-form-button {
  
}

.card-email-form-button-start {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  display: flex;
  flex-direction: row;
  
  align-items: center;
}

#card-email-form-button-svg {
  width: 24px ;
  height: 24px ;
  color: var(--clr-white);
}



section {
  padding: 5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: var(--font-title-desktop);
  }
}
