.header-body {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  position: relative;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../assets/images/Netflix-Header-Background.jpg");
}

.card-content {
  max-width: 1000px;
  padding: 20px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.card:nth-of-type(1) {
  margin-bottom: 2rem;
}
.card-title,
.card-p {
  text-align: center;
}
.card p {
  font-size: var(--font-p-mobile);
}

.header-body h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.header-body p {
  /* font-size: 24px; */
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.card h2 {
  margin-bottom: 20px;
  max-width: 135ch;
}

.card p {
  max-width: 145ch;
}

.container.left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  padding: 72px 0;
  width: 145ch;
}

.container.right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  padding: 72px 0;
  width: 145ch;
  flex-direction: row-reverse;
}

.card.left {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.card.right {
  flex-basis: 50%;
  margin-bottom: 20px;
}

hr {
  border: 4px solid #2f2f2f;
  border-color: #2f2f2f;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header-body {
    height: 55vh;
  }
}
@media screen and (min-width: 960px) {
  .header-body {
    height: 80vh;
  }
  .card {
    margin-left: 2rem;
  }
  .card-title,
  .card-p {
    text-align: left;
  }
  .reversed-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .reversed-card {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}