:root {
  --clr-primary: #E50815;
  --clr-secondary: #000;
  --clr-tertiary: #2D2D2D;
  --clr-footer-links: #B3B3B3;
  --clr-white: #fff;
  --font-title-mobile: 32px;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('../assets/font/NetflixSans-Regular.otf');
}

@font-face {
  font-family: 'Netflix Sans Bold';
  src: url('../assets/font/NetflixSans-Bold.otf');
}


@media screen and (min-width: 1024px) {
  :root {
    --font-title-desktop: 48px;
  }  
}