:root {
  --clr-primary: #E50815;
  --clr-secondary: #000;
  --clr-tertiary: #2D2D2D;
  --clr-footer-links: #B3B3B3;
  --clr-white: #fff;
  --font-title-mobile: 32px;
<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
  --font-title-mobile-h3: 20px;
  --font-family-input-form: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  
  
=======
  --font-p-mobile: 18px;
>>>>>>> Stashed changes
>>>>>>> Stashed changes
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('../assets/font/NetflixSans-Regular.otf');
}

@font-face {
  font-family: 'Netflix Sans Bold';
  src: url('../assets/font/NetflixSans-Bold.otf');
}

* {
  font-family: 'Netflix Sans';
}

h1,
h2, 
h3, 
h4,
h5,
h6 {
  font-family: 'Netflix Sans Bold';
}

@media screen and (min-width: 960px) {
  :root {
    --font-title-desktop: 48px;
    --font-p-desktop: 24px;
  }  
}